@using MyEvernote.BusinessLayer
@using MyEvernote.Entities

@{ 
    CategoryManager cm = new CategoryManager();
    List<Category> ct = cm.GetCategories();

}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Font-awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">My Evernote</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!--
    <li class="nav-item active">
        <a class="nav-link" href="#">
            Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
    -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-wrench"></span>
                            Yönetim Paneli
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-star"></span>
                            En Beğenilenler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-th-list"></span>
                            Son Yazılanlar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-info-circle"></span>
                            Hakkımızda
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                           <span class="fa fa-sign-in"></span> Giriş
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                           <span class="fa fa-user"></span> Üye Ol
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                           <span class="fa fa-user"></span> tugberkgunver
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                           <span class="fa fa-sign-out"></span> Çıkış
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Kategoriler</h1>
                <div class="list-group">
                    @foreach (var item in ct)
                    {

                        <a href="/Category/Select/@item.Id" title="@item.Description" class="list-group-item"><span class="fa fa-dot-circle-o fa-fw"></span>@item.Title</a>
                    }

                </div>

            </div>
            @RenderBody()

            </div>
        </div>
            <!-- /.container -->
            <!-- Footer -->
            <footer class="py-5 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <h5>Site Haritası</h5>
                            <hr />
                            <p class="m-0 text-center text-white">
                                <a href="#">Hakkımızda</a><br />
                                <a href="#">En Beğenilenler</a><br />
                                <a href="#">Son Yazılanlar</a><br />
                            </p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h5>
                                MyEvernote
                            </h5>
                            <hr />
                            <p class="m-0 text-center text-white">Tüm hakları saklıdır. @DateTime.Now.Year</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h5>E-Bülten Üyeliği</h5>
                            <hr />
                            <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="E-posta Adresiniz" />
                            <span>
                                <button class="btn btn-info" type="submit">Gönder</button>
                            </span>
                        </div>
                        </div>
                    </div>
                    
                </div>
                    </div>
                <!-- /.container -->
            </footer>


</body>

</html>